.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.messagesWrapper {
  flex-grow: 1;
  min-height: 100px;
  padding: 10px 0 0;
}

.messages {
  height: calc(100vh - 130px);
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}

.scrollWrapper {
  overflow: auto;
}

.message {
  padding: 10px 15px;
}

.message:hover {
  background-color: #fafafa;
}

.formWrapper {
  background: #fff;
  z-index: 1;
}

.form {
  padding: 5px;
}

.input {
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  display: block;
  width: 100%;
  padding: 10px;
}
